/** @format */

#cart-component {
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 50px;
    background-color: white;
}

#cart-component h1 {
    text-align: center;
    margin-bottom: 20px;
    font: bold 32px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: black;
}



#cart-titles {
    width: 65vw;
    margin-bottom: 20px;
}

#cart-row {
    flex-wrap: nowrap;
}


#quantity-field {
    height: 40px;
    margin-top: 0px;
}

#quantity-buttons {
    height: 40px;
}

.cart-product-title {
    margin-left: 10px;
}



#tables-outer-container {
    display: flex;
}

#total-container {
    width: 22vw;
    margin-left: 50px;
    background-color: silver;
    border: 2px solid black;
    font-size: 30px;
    padding: 20px;
    
}

.total-title {
    text-align: center;
    font: bold 22px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: black;
}


.cart-image {
    height: 60px;
}

.cart-delete {
    
    font: bold 22px Helvetica, Sans-Serif;
    letter-spacing: -1px;
}

.cart-delete:hover {
    color: black;
    background-color: white;
}

#total-container {
    background-color: black;
    color: white;
    font: bold 22px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    border-radius: 5px;
}

.total-title {
    color: white !important;
}

.total {
    margin-bottom: 30px;
}

#check {
    width: 200px;
    height: 60px;
    
    margin-top: 10px;
    margin-bottom: 55px;
    margin-left: calc(50px + ((22vw - 200px)/2));
    background-image: -webkit-linear-gradient(45deg, rgb(55, 0, 55) 50%, transparent 50%);
    background-image: linear-gradient(45deg, rgb(55, 0, 55) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.checkout-guest {
    width: 145px;
    height: 60px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font: bold 22px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: black;
    margin-top: 10px;
    margin-bottom: 55px;
    margin-left: 20px;
    background-image: -webkit-linear-gradient(45deg, rgb(55, 0, 55) 50%, transparent 50%);
    background-image: linear-gradient(45deg, rgb(55, 0, 55) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.asguest {
    margin-left: calc(50px + (22vw - 310px)/2);
}

#check:hover,
.checkout-guest:hover {
    background-color: rgb(1, 0, 53);
    color: white;
    background-position: 0;
    webkit-transform: scale(1.075, 1.075);
    -ms-transform: scale(1.075, 1.075);
    -o-transform: scale(1.075, 1.075);
    transform: scale(1.075, 1.075);
}

.options {
    display: flex;
    justify-content: flex-start;
}

.cart-field {
    margin-top: 10px;
}

#cart-row-container {
    margin-bottom: 20px;
}

.total-amount {
    width: 6vw;
    justify-content: right;
    
}

#total-outer-container {
    justify-content: flex-start;
}
#checkout-buttons {
    justify-content: center;
}

.hide {
    display: none;
}