.success-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.thankyou {
    text-align: center;
    margin-top: 400px;
    margin-bottom: 100px;
    font: bold 4vw Helvetica, Sans-Serif;

}

#success-button {
    
    width: 200px;
    height: 60px;
}

